doctype html
html(ng-app="myApp")
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include _navbar.jade
    #content.container
      if error  
        .alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
          = error
      if success
        .alert.alert-success.alert-dismissable
          button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
          = success
      if notice
        .alert.alert-info.alert-dismissable
          button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
          = notice
    
      block content
      
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js')
    script(src='/js/script.js')
    block scripts
