.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href='../') Tablica

      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
        span.icon-bar
        span.icon-bar
        span.icon-bar

    #navbar-main.navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href='/board/add') Dodaj ogloszenie
        li
          a(href='/category/add') Dodaj kategorie

      ul.nav.navbar-nav.navbar-right
        if user
          li
            a(href='/') Cześć, #{user.username}
          li
            a(href='/logout') Wyloguj
        else
          li
            a(href='/login') Zalogować
          li
            a(href='/register') Zarejestrować
